<h1 style="background-color:rgb(93, 129, 247); border: 4px dotted yellow; padding:2px; width:500px; text-align:center; border-radius:10px; color:whitesmoke">Welcome to Krusty Krab</h1>

<img style="height: 160px;
    margin-right: -57px;
    margin-left: 167px;
    margin-top: 145px;"
    src="http://www.stickpng.com/assets/thumbs/5874ccf242e4d628738559df.png" 
    alt="spongebob">

<a href="/"><button  style="border-radius:10px; background-color:pink">Go back home</button></a>