<h1 style="background-color:rgb(93, 129, 247); border: 4px dotted yellow; padding:2px; width:500px; text-align:center; border-radius:10px; color:whitesmoke">Welcome to Krusty Krab</h1>

<img style="height: 160px;
    margin-right: -57px;
    margin-left: 167px;
    margin-top: 145px;"
    src="http://www.stickpng.com/assets/thumbs/5874ccf242e4d628738559df.png" 
    alt="spongebob">

<a href="/"><button  style="border-radius:10px; background-color:pink">Go back home</button></a>


<br>





<h3>Create your own Krabby Patty:</h3>

    <form action="/burger" method="POST">
         <label for="burger_name">Name your Burger : </label>
         <input id="burger_name" type="text">
         <label for="devoured">Devoured : </label>
         <input id="devoured" type="text">
    <br>
         <button  style="border-radius:10px; background-color:pink" id="addBurger">Create Burger</button>

    </form>

<br>
<br>
 <h3>Update Burger:</h3>
  <form action="/burger" method="PUT" >
    <label for="bid">Enter burger id Update:</label>
    <input id="bid" type="text">
    <br>
    <label for="burger_name"> Update name</label>
    <input id="newname" type="text">
    <br>
    <br>
    <button  style="border-radius:10px; background-color:pink" id="updateBurger">Update</button>
  </form>

  <br>
<br>

 <div id="bView"></div>

 <br>

<div class="row">

 <div class="col s4">

<div class='gonnaEat'>
{{#each burger}}
  <div>These burgers have been eaten</div>
  {{#if this.devoured}}
  <div>Burger Name : {{burger_name}}</div>
  {{/if}}
  <hr>
  <hr>
  <div>These burgers have NOT been eaten yet</div>
  {{#else}}
  <div>BUrger Name : {{burger_name}}</div>
  {{/else}}
{{/each}}
</div>

</div>
</div>