 

<h1 style="text-align:center">Welcome to KRUSTY KRAB</h1>
<h3 style="text-align:center">Let's create a Krabby Patty!</h3>

<div class="style" style="background-color: cornflowerblue; padding: 10px; height: 100px; width:300px;  text-align:center;  margin: auto;" >
<h3>Let's start making a burger!!</h3>

<div class="container">
   
             <div class="clm">
            <form action="/burger" method="POST">
                {{!-- <input type="text" class="form-control" name="burger_name" value="" id="enter_text"> --}}
                <button style="border-radius:10px; background-color:pink" type="submit" class="btn-primary" id="burgerBtn">Start Creating</button>
            </form>

           
      
      
    </div>
    
      
</div>


<br>
<br>
<br>
</div>
<hr>

<h5 style="text-align:center">Enjoy making your burger!!</h5>

